.hero {
  height: 800px;
  display: flex;
  flex-direction: column;
  color: white;
  background-image: radial-gradient(circle, #2f3343, #000000);
  background-attachment: fixed;
  margin-bottom: 0;
}

.title {
  font-size: 4.5rem;
  font-weight: 400;
}