.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.underline {
  margin: 0;
  padding-bottom: 1rem;
  position: relative;
  border-bottom: 1px solid #f95131;
}

.partners {
  display: flex;
  grid-gap: 25px;
}

.partner {
  height: 40px;
}
