.btn-primary {
  background-color: #f95131 !important;
  border-color: #f95131 !important;
  color: #ffffff;
  transition: 1s ease-in-out 1s;
}

.btn-primary:hover{
  position: relative;
  top: -10px;
}