.btn-primary {
  background-color: #f95131 !important;
  border-color: #f95131 !important;
  color: #ffffff;
  transition: 1s ease-in-out 1s;
}

.bg-black {
  background-color: #000
}

.btn-primary:hover{
  position: relative;
  top: -10px;
}

.btn-outline-secondary, .btn-outline-secondary:hover{
  background-color: #ffffff0a !important;
  color: #6c757d !important;
  border-color: #6c757d !important;
}