.card {
  border-radius: 0.3rem;
  border: 1px solid #2e2e2e;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.badge {
  color: #eb451c;
  border-radius: 0.3rem;
  align-self: end;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #702a23;
  margin-bottom: -1rem ;
  font-weight: bolder;
  position: absolute;
  right: 10;
  top: 10;
}
